#solucao {
    overflow: hidden;
    position: relative;
    padding-top: 12rem;
}

#solucao header p {
    margin-bottom: 0;
}

#solucao header h2.dois {
    margin-top: 2rem;
}

#solucao img {
    width: 100%;
}

#solucao .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#solucao .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#solucao .card img {
    width: 15rem;
}

#solucao .card h3 {
    color: var(--secondy-color);
    font-size: 2rem;
}

#solucao .card p {
    font-size: 1.4rem;
    color: var(--secondy-color);
}

@media (min-width: 1080px) {
    section#solucao {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    section#solucao .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: start;
        gap: 2rem;
    }

    section#solucao .card {
        flex-direction: column;
        display: flex;
    }

    section#solucao .card:nth-child(4) p {
        font-size: 1.2rem;
    }
}